<%- include('_header.ejs') %>
    
    <div class="welcome">
        <h1>Welcome to Socify</h1>
        <a class="login" href="/login">Log in</a>
    </div>
    <div class="vid_contain">
        <video autoplay muted loop>
            <source src="../assets/bg.mp4" type="video/mp4">
        </video>
    </div>
    
    
    

<%- include('_footer.ejs') %>